@font-face { 
	font-family: "Indelible"; 
	src: url("../../assets/fonts/Indelible.otf"); 
}

@font-face { 
	font-family: "JosefinSans"; 
	src: url("../../assets/fonts/JosefinSans-Regular.ttf"); 
}

@font-face { 
	font-family: "JosefinSansBold"; 
	src: url("../../assets/fonts/JosefinSans-Bold.ttf"); 
}

.angryText {
	font-family: "Indelible";
}

.professionalText {
	font-family: "JosefinSans";
}

.professionalTextBold {
	font-family: "JosefinSansBold";
}

#header {
	/*border-bottom: 1px solid #000;
	margin-top: -15px;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;*/
}

#title {
	border: 1px solid #000;
	/*font-size: 32px;
	min-width: 33%;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -9px;
	text-align: center;
	height: 63px;
	align-content: center;
	background-color: #fff;*/
}

#title p {
	margin-top: 16px;
}

#nav {
	border-bottom: 1px solid #000;
}

nav ul {
	list-style: none;
}

nav ul li {
	font-family: "JosefinSans";
	display: inline;
}

nav ul li:hover {

}



