#header {

}

#title {
	position: relative;


}

#title p {
	margin-top: 16px;
}

.header-triangle {

	width: 20%;
	margin-left: auto;
	margin-right: auto;
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-top: 60px solid #00f;

    
}






#nav {
	border-bottom: 1px solid #000;
}

nav ul {
	list-style: none;
}

nav ul li {
	font-family: "JosefinSans";
	display: inline;
}

nav ul li:hover {

}






















/* start of large tablet styles */
/*@media screen and (max-width: 991px) {

}*/

/* start of medium tablet styles */
@media screen and (max-width: 767px) {
    
     .header-triangle {
		/*border-left: 160px solid transparent;
		border-right: 160px solid transparent;
		border-top: 60px solid #00f;*/
	}
}

/* start of phone styles */
@media screen and (max-width: 360px) {

}

