<div>
	<div id="header">
		<div class="topnav" id="myTopnav">
			<a href="" id="empty"></a>
			<a href="">Donate</a>
			<a href="">Contact/Feedback</a>
			<a href="javascript:void(0);" class="icon" (click)="showMenu()">&#9776;</a>
		</div>
	</div>
	<div id="red-triangle"></div>
	<div id="mobile-red-triangle"></div>
	<p id="title" class="professionalTextLight">What's The <span class="professionalTextBold">Gist</span>?</p>
	<p id="tagline" class="professionalTextLight">The best way to get your <span id="newline">message across without being a dick</span></p>
	<div id="grey-diamond"></div>
	<div id="button">
		<button class="professionalTextLight" (click)="getStarted()">Let's Get Started!</button>
	</div>
	<div id="typing-text">
		<app-typing-text></app-typing-text>
	</div>



</div>

