<!-- <app-header></app-header> -->

<div>
	<div id="header">
		<div class="topnav" id="myTopnav">
			<a href="" id="empty"></a>
			<a href="">Donate</a>
			<a href="">Contact/Feedback</a>
			<a href="javascript:void(0);" class="icon" (click)="showMenu()">&#9776;</a>
		</div>
	</div>
	<div id="red-triangle"></div>
	<p id="title" class="professionalTextLight">What's The <span class="professionalTextBold">Gist</span>?</p>
	<p id="tagline" class="professionalTextLight">The best way to get your message across without being a dick</p>
	<div id="grey-diamond"></div>

</div>


<!-- <app-typing-text></app-typing-text> -->