@font-face { 
	font-family: "Indelible"; 
	src: url("../../assets/fonts/Indelible.otf"); 
}

@font-face { 
	font-family: "JosefinSans"; 
	src: url("../../assets/fonts/JosefinSans-Regular.ttf"); 
}

@font-face { 
	font-family: "JosefinSansBold"; 
	src: url("../../assets/fonts/JosefinSans-Bold.ttf"); 
}

body {
	min-width:350px;
}

.angryText {
	font-family: "Indelible";
}

.professionalText {
	font-family: "JosefinSans";
}

.professionalTextBold {
	font-family: "JosefinSansBold";
}

#title {
	font-size: 24px;
}

#tagline {
	
}

/*app-header {
	top: 0;
    left: 0;
    right: 0;
    color: #00F;
}*/