<app-header></app-header>
<section class="main">
	<h1 class="professionalTextLight title">What category is your <span class="angryText">hate</span> towards?</h1>	

	<div class="questions">
		<p class="professionalTextLight" (click)="freelanceClicked()">Freelance</p>
		<p class="professionalTextLight" (click)="officeClicked()">Office</p>
		<p class="professionalTextLight" (click)="schoolClicked()">School</p>
		<p class="professionalTextLight" (click)="miscClicked()">Miscellaneous</p>
	</div>
</section>
<app-footer></app-footer>
