/* You can add global styles to this file, and also import other style files */
@font-face { 
	font-family: "Indelible"; 
	src: url("./assets/fonts/Indelible.otf"); 
}

@font-face { 
	font-family: "JosefinSans"; 
	src: url("./assets/fonts/JosefinSans-Regular.ttf"); 
}

@font-face { 
	font-family: "JosefinSansBold"; 
	src: url("./assets/fonts/JosefinSans-Bold.ttf"); 
}

@font-face { 
	font-family: "JosefinSansLight"; 
	src: url("./assets/fonts/JosefinSans-Light.ttf"); 
}

:root {
	--grey: #e3dee2;
	--dark-red: #660616;
	--red: #800616;
}

body {
	min-width:360px;
	margin: 0px;
	padding: 0px;
	margin-top: -16px;
}

.angryText {
	font-family: "Indelible";
}

.professionalText {
	font-family: "JosefinSans";
}

.professionalTextBold {
	font-family: "JosefinSansBold";
}

.professionalTextLight {
	font-family: "JosefinSansLight";
}